
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2>Editar Publicación</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<div>
    <img src="{% static 'img/logo_optica.png' %}" alt="Logo Centro Óptico" class="logo img-fluid">
</div>
{% endblock %}

